useDynLib(localdepth)


#Export declaration

# functions
export(
localdepth,
localdepth.simp.exact.hyperspheres,
localdepth.similarity,
localdepth1Dfprime,
####localdepth.simp.approx.clust,
quantile.localdepth,
quantile.hyperspheres
)


#plot 
S3method(plot, localdepth)

#print
S3method(print, localdepth)
S3method(print, localdepth.similarity)
S3method(print, quantile.localdepth)



