useDynLib(localdepth)

import(circular)
importFrom(stats, quantile)

#Export declaration

# functions
export(
localdepth,
localdepth1,
localdepth2,
localdepth.similarity,
depth.similarity,
depth.knn,
depth.kdd,
####localdepth1Dfprime,
####localdepth.simp.approx.clust,
quantile.localdepth
###quantile.hyperspheres,
)

#quantile
S3method(quantile, localdepth)

#plot 
S3method(plot, localdepth)

#print
S3method(print, localdepth)
S3method(print, localdepth.similarity)
S3method(print, quantile.localdepth)



